{% extends 'base.html.twig' %}

{% block body %}
    <p>nom: {{ bureau.adresse }}</p>
    <p>nom: {{ bureau.CodePoste }}</p>
    <p>nom: {{ bureau.telephone }}</p>
    <a href="{{ path('bureau_edit', {id: bureau.id}) }}">Edit</a>
    <a href="{{ path('bureau_index') }}">Back to list</a>
{% endblock %}
