<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Acceuil</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <style>
    </style>

{% block body %}
    <h1>BSE</h1>
    {# Vérifiez si l'utilisateur a le rôle ADMIN #}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="nav">
        </div>

        <div class="corp">
            <div class="head">
                <div id="head1">
                    <p>Tous les BSE</p>
                    {% set somme = 0%}
                    {% for bse in bse %}
                        {% set somme = somme +1%}
                    {% endfor %}
                    <p>{{somme}}</p>
                </div>

                <!--div id="head2">
                    <p>BSE accepté</p>
                    {#% set somme = 0%}
                    {% for bse in bse %}
                        {% set somme = somme +1%}
                    {% endfor %}
                    <p>{{somme}#}</p>
                </div-->

                <div id="head3">
                    <p>BSE en attente</p>
                    {% set somme = 0%}
                    {% for bse in bse %}
                        {% set somme = somme +1%}
                    {% endfor %}
                    <p>{{somme}}</p>
                </div>

                <div id="head4">
                    <p>BSE refuser</p>
                    {% set somme = 0%}
                    {% for bse in bse %}
                        {% set somme = somme +1%}
                    {% endfor %}
                    <p>{{somme}}</p>
                </div>

                <div id="head5">
                    <p>BSE payé</p>
                    {% set somme = 0%}
                    {% for bse in bse %}
                        {% set somme = somme +1%}
                    {% endfor %}
                    <p>{{somme}}</p>
                </div>

                <div id="head6">
                    <p>BSE non payer</p>
                    {% set somme = 0%}
                    {% for bse in bse %}
                        {% set somme = somme +1%}
                    {% endfor %}
                    <p>{{somme}}</p>
                </div>
            </div>

            <div id="section1">
                <button>Nouveau</button>
                <button>En attente de validation</button>
                <!--button>Accepté</button-->
                <button>Réfusé</button>
                <button>Déjà payer</button>
                <button>Non payer</button>
            </div>

            
            <div class="section2">
                <div id="bse_nouveau">
                    <h1>Nouveau BSE</h1>
                    <table>
                        {% for user in user %}
                            <tr>
                                <td>{{ user.matricule }}</td>
                                <td>{{ user.nom }}</td>
                                <td>{{ user.prenom }}</td>
                                <td>{{ user.sexe }}</td>
                                <td>{{ user.fonction }}</td>
                                <td>{{ user.situationFamiliale }}</td>
                                <td>{{ user.cin }}</td>
                                <td>{{ user.dateCin|date('Y-m-d') }}</td>
                                <td>{{ user.tauxJournalier }}</td>
                                <td>{{ user.titre }}</td>
                                <td>
                                    <a href="{{ path('bse_new', {id: user.matricule}) }}">Créer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                
                <div id="bse_attente">
                    <h1>BSE en attente de validation</h1>
                    <table>
                        {% for bse_validation_attente in bse_validation_attente %}
                            <tr>
                                <td>numero: {{ bse_validation_attente.Destination }}</td>
                                <td>numero: {{ bse_validation_attente.DepenseEngage }}</td>
                                <td>
                                    <a href="{{ path('bse_edit', {id: bse_validation_attente.id}) }}">Modifier</a>
                                </td>
                                <td>
                                    <a href="{{ path('bse_delete', {id: bse_validation_attente.id}) }}">Supprimer</a>
                                </td>
                                <td>
                                    <a href="{{ path('bse_show', {id: bse_validation_attente.id}) }}">Voir</a>
                                </td>
                                <td>
                                    <a href="{{ path('bse_valide', {id: bse_validation_attente.id}) }}">Valider</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>


                <!--div id="bse_accepte">
                    <h1>BSE accepté</h1>
                    <ul>
                        {#% for bse_validation_accepte in bse_validation_accepte %}
                            <li>
                                <a href="{{ path('bse_show', {id: bse_validation_accepte.id}) }}">{{ bse_validation_accepte.motif }}</a>
                                <td>numero: {{ bse_validation_accepte.Destination }}</td>
                                <td>numero: {{ bse_validation_accepte.DepenseEngage }}</td>
                                <a href="{{ path('bse_edit', {id: bse_validation_accepte.id}) }}">Edit</a>
                                <a href="{{ path('bse_delete', {id: bse_validation_accepte.id}) }}">Delete</a>
                            </li>
                        {% endfor %#}
                    </ul>
                </div-->


                <div id="bse_refuse">
                    <h1>BSE refusé</h1>
                    <table>
                        {% for bse_validation_refuse in bse_validation_refuse %}
                            <tr>
                                <td>numero: {{ bse_validation_refuse.Destination }}</td>
                                <td>numero: {{ bse_validation_refuse.DepenseEngage }}</td>
                                <td>
                                    <a href="{{ path('bse_edit', {id: bse_validation_refuse.id}) }}">Modifier</a>
                                </td>
                                <td>
                                    <a href="{{ path('bse_delete', {id: bse_validation_refuse.id}) }}">Supprimer</a>
                                </td>
                                <td>
                                    <a href="{{ path('bse_show', {id: bse_validation_refuse.id}) }}">Voir</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>


                <div id="bse_paye">
                    <h1>BSE déjà payé</h1>
                    <table>
                        {% for bse_payment_paye in bse_payment_paye %}
                            <tr>
                                <td>numero: {{ bse_payment_paye.Destination }}</td>
                                <td>numero: {{ bse_payment_paye.DepenseEngage }}</td>
                                <td>
                                    <a href="{{ path('bse_show', {id: bse_payment_paye.id}) }}">Voir</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div id="bse_non_paye">
                    <h1>BSE en attente de payment</h1>
                    <table>
                        {% for bse_payment_attente in bse_payment_attente %}
                            <tr>
                                <td>numero: {{ bse_payment_attente.Destination }}</td>
                                <td>numero: {{ bse_payment_attente.DepenseEngage }}</td>
                                <td>
                                    <a href="{{ path('bse_paye', {id: bse_payment_attente.id}) }}">Payer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>


    {# Vérifiez si l'utilisateur a le rôle MISSIONNAIRE #}
    {% elseif is_granted('ROLE_MISSIONNAIRE') %}
        <div class="example-wrapper">
        </div>


    {# Vérifiez si l'utilisateur a le rôle USER #}
    {% elseif is_granted('ROLE_USER') %}
        <div class="example-wrapper">
        </div>
    {% endif %}

    {# Contenu accessible à tous #}
    <p>Ce contenu est visible par tous les visiteurs.</p>
    <a href="{{ path('app_logout') }}"><button>Se deconnecter</button></a>
</body>
</html>

{% endblock %}