<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Mission</title>
        <style></style>
    </head>

    <body>
    {# Vérifiez si l'utilisateur a le rôle ADMIN #}
    {#% if is_granted('ROLE_ADMIN') %#}
    <div>
        <table>
            <tr>
                <td>destination</td>
                <td>motif</td>
                <td>date_bse</td>
                <td>matricule</td>
                <td>duree_mission</td>
                <td>nom_detenteur</td>
                <td>prenom_detenteur</td>
                <td>fonction_detenteur</td>
                <td>lieu_depart_missionnaire</td>
                <td>heure_depart_missionnaire</td>
                <td>date_depart_missionnaire</td>
                <td>lieu_bse</td>
                <td>nom_chaufeur</td>
                <td>prenom_chafeur</td>
                <td>tel_transporteur</td>
                <td>etat_payment_or</td>
                <td>etat_payment_bst</td>
                <td>etat_validation_or</td>
                <td>etat_validation_bst</td>
                <td>code_postale_payement_or</td>
                <td>code_postale_payment_bst</td>
                <td>depense_bst</td>
            </tr>
            {% for bse in bse %}
                <tr>
                    <td>{{ bse.destination }}</td>
                    <td>{{ bse.motif }}</td>
                    <td>{{ bse.dateBse|date('Y-m-d') }}</td>
                    <td>{{ bse.matricule }}</td>
                    <td>{{ bse.dureeMission }}</td>
                    <td>{{ bse.nomDetenteur }}</td>
                    <td>{{ bse.prenomDetenteur }}</td>
                    <td>{{ bse.fonctionDetenteur }}</td>
                    <td>{{ bse.lieuDepartMissionnaire }}</td>
                    <td>{{ bse.heureDepartMissionnaire }}</td>
                    <td>{{ bse.dateDepartMissionnaire }}</td>
                    <td>{{ bse.lieuBse }}</td>
                    <td>{{ bse.nomChaufeur }}</td>
                    <td>{{ bse.prenomChafeur }}</td>
                    <td>{{ bse.telTransporteur }}</td>
                    <td>{{ bse.etatPaymentOr }}</td>
                    <td>{{ bse.etatPaymentBst }}</td>
                    <td>{{ bse.etatValidationOr }}</td>
                    <td>{{ bse.etatValidationBst }}</td>
                    <td>{{ bse.codePostalePayementOr }}</td>
                    <td>{{ bse.codePostalePaymentBst }}</td>
                    <td>{{ bse.depenseBst }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {# Vérifiez si l'utilisateur a le rôle ADMIN #}
    {#% if is_granted('ROLE_ADMIN') %}

    {# Vérifiez si l'utilisateur a le rôle ADMIN #}
    {#% if is_granted('ROLE_ADMIN') %#}
    
    </body>
</html>