<h1>BSE avec OR ou BST</h1>
<ul>
    {% for bse in bseWithOrAndBst %}
        <li>{{ bse.numBse }} - {{ bse.depenseEngage }} - {{ bse.etatValidation }}</li>
    {% else %}
        <li>Aucun BSE avec OR ou BST.</li>
    {% endfor %}
</ul>

<h1>BSE sans OR ni BST</h1>
<ul>
    {% for bse in bseWithoutOrAndBst %}
        <li>{{ bse.numBse }} - {{ bse.depenseEngage }} - {{ bse.etatValidation }}</li>
    {% else %}
        <li>Aucun BSE sans OR ni BST.</li>
    {% endfor %}
</ul>