{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ bse.NumBse }}</h1>
    <p>numero: {{ bse.NumBse }}</p>
    <p>numero: {{ bse.Destination }}</p>
    <p>numero: {{ bse.Motif }}</p>
    <p>numero: {{ bse.DepenseEngage }}</p>
    <a href="{{ path('bse_edit', {id: bse.id}) }}">Edit</a>
    <a href="{{ path('bse_index') }}">Back to list</a>
{% endblock %}
