<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Acceuil</title>
    <link rel="stylesheet" href="{{ asset('assets/w3.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="{{ asset('assets/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/bootstrap/bootstrap.bundle.min.js') }}"></script><!-- Font Awesome CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <style>
            *{
                box-sizing: border-box;
            }
            body{
                align-items: center;
                display: flex;
                flex-direction:column;
                background: #f6f5f7;
                font-family:'monserrat', sans-serif;
                min-height: 100%;
                margin: 5%;
            }
            a{
                text-decoration: none;
                color: grey;
            }
            body, h1, h2, h3, h4, h5, h6 {
                font-family: "Times New Roman", Times, serif;
            }
            .w3-display-container {
                position: relative;  /* Nécessaire pour que le bouton soit correctement positionné */
            }

            .w3-display-topright {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1000;  /* S'assurer que le bouton est au-dessus des autres éléments */
            }

            .fa-times {
                pointer-events: auto;  /* Assurez-vous que le bouton est cliquable */
            }
            .afficher_pas{
                display: none;
            }
            label{
                float: left;
            }


    </style>
</head>
<body>
    <div class=" w3-center w3-animate-zoom w3-half w3-card-4 w3-white">
        <div class="w3-display-container w3-yellow">
            <a href="{{path('bse_index')}}" class="fa fa-times w3-display-topright">
            </a>
            <h4  class="w3-opacity w3-padding-16"><i class="fa fa-user-plus w3-opacity"></i>    Valider ordre de route sans BST</h4>
        </div>
    {{ form_errors(valide) }}
    {{ form_start(valide) }}

        <!-- Fifth Row: Email and Password -->
        <div class="w3-row-padding w3-margin-bottom w3-opacity">
            <div class="w3-twothird">
                <p><b>{{ user.titre }}</b> {{ user.nom|upper }} {{ user.prenom }}</p>
                <p><b>Fonction/Indice:</b> {{ user.fonction }}</p>
                <p><b>Demande un:</b> {{ bse.etat }}</p>
                <p><b>Pour :</b> {{ bse.motif }}</p>
                <p><b>à :</b> {{ bse.destination }}</p>
                <p><b>Durée de :</b> {{ bse.dureeMission }} jour(s)</p>
                {% set ordre = (bse.dureeMission) * (user.tauxJournalier)%}
                <p><b>Depense pour l'Ordre de route :</b> {{ ordre }} Ariary</p>
                <p><b>Somme total engagée:</b> {{ ordre }} Ariary</p>
            </div>
            <div class="w3-third">
                {{ form_row(valide.nom_detenteur, { 'label': 'Nom detenteur', 'attr': {'class': 'w3-input w3-border'} }) }}
                {{ form_row(valide.prenom_detenteur, { 'label': 'Prenom detenteur','attr': {'class': 'w3-input w3-border'} }) }}
                {{ form_row(valide.fonction_detenteur, { 'label': 'Fonction detenteur', 'attr': {'class': 'w3-input w3-border'} }) }}
                {{ form_row(valide.etat_validation_or, { 'label': 'Validation', 'attr': {'class': 'w3-input w3-border'} }) }}
                {{ form_row(valide.etat_payment_or, { 'label': 'Payment','attr': {'class': 'w3-input w3-border'} }) }}
            </div>
        </div>

        <button type="submit" class="w3-btn w3-green w3-half">Valider</button>
        <a href="{{ path('bse_index') }}" class="w3-btn w3-blue w3-half">Back to list</a>
    {{ form_end(valide) }}
</body>
