{% extends 'base.html.twig' %}

{% block body %}
    <h1>ordreRoute</h1>
    <a href="{{ path('ordreRoute_new') }}">Create new ordreRoute</a>
    <ul>
        {% for ordreRoute in ordreRoute %}
            <li>
                <a href="{{ path('ordreRoute_show', {id: ordreRoute.id}) }}">{{ordreRoute.NumOr}}</a>
                <span>{{ordreRoute.DureeDeplacement}}</span>
                <span>{{ordreRoute.NomDetenteur}}</span>
                <span>{{ordreRoute.FonctionDetenteur}}</span>
                <span>{{ordreRoute.LieuDepart}}</span>
                <a href="{{ path('ordreRoute_edit', {id: ordreRoute.id}) }}">Edit</a>
                <a href="{{ path('ordreRoute_delete', {id: ordreRoute.id}) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
