{% extends 'base.html.twig' %}

{% block body %}
    <h1>BST non valider</h1>
    <ul>
        {% for bst0 in bst0 %}
            <li>
                <a href="{{ path('bst_show', {id: bst0.id}) }}">{{ bst0.NumBst }}</a>
                <span>numero: {{ bst0.NumBst }}</span>
                <span>numero: {{ bst0.IdTransport }}</span>
                <span>numero: {{ bst0.LieuBst }}</span>
                <span>numero: {{ bst0.NomTransporteur }}</span>
                <span>numero: {{ bst0.TelephoneTransport }}</span>
                <a href="{{ path('bst_edit', {id: bst0.id}) }}">Edit</a>
                <a href="{{ path('bst_delete', {id: bst0.id}) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <h1>BST valider</h1>
    <ul>
        {% for bst1 in bst1 %}
            <li>
                <a href="{{ path('bst_show', {id: bst1.id}) }}">{{ bst1.NumBst }}</a>
                <span>numero: {{ bst1.NumBst }}</span>
                <span>numero: {{ bst1.IdTransport }}</span>
                <span>numero: {{ bst1.LieuBst }}</span>
                <span>numero: {{ bst1.NomTransporteur }}</span>
                <span>numero: {{ bst1.TelephoneTransport }}</span>
                <a href="{{ path('bst_edit', {id: bst1.id}) }}">Valider</a>
                <a href="{{ path('bst_delete', {id: bst1.id}) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}