{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ bst.NumBst }}</h1>
    <p>numero: {{ bst.NumBst }}</p>
    <p>numero: {{ bst.IdTransport }}</p>
    <p>numero: {{ bst.LieuBst }}</p>
    <p>numero: {{ bst.NomTransporteur }}</p>
    <p>numero: {{ bst.TelephoneTransport }}</p>
    <a href="{{ path('bst_edit', {id: bst.id}) }}">Edit</a>
    <a href="{{ path('bst_index') }}">Back to list</a>
{% endblock %}
