<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Acceuil</title>
        <link rel="stylesheet" href="{{ asset('assets/w3.css')}}">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link href="{{ asset('assets/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
        <script src="{{ asset('assets/bootstrap/bootstrap.bundle.min.js') }}"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        
         <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
    </head>
    <body>
        {# Vérifiez si l'utilisateur a le rôle ADMIN #}
        {% if is_granted('ROLE_ADMIN') %}
        


        <center><u><h3>ETAT CREDIT</h3></u></center>
        {% set depenseOr =  0 %}
        {% set depenseBst =  0 %}
        {% set depenseTotal =  0 %}
        {% for val in depense %}
            {% set depenseOr = val.sommeOr + depenseOr %}
            {% set depenseBst = val.depenseBst + depenseBst %}
            {% set depenseTotal = depenseOr + depenseBst %}
        {% endfor %}
        {% set soldetot =  0 %}
        {% set restant =  0 %}
        {% for solde in credit %}
            {% set soldetot =  soldetot + solde.creditInitial %}
        {% endfor %}
        {% set restant =  soldetot - depenseTotal %}

            <h4><u>Dépense</u></h4>
            <p><b>  Orde de route:</b> .......................................{{depenseOr}} Ariary</p>
            <p><b>  Bon spécial de transport</b> ......................{{depenseOr}} Ariary</p>
            <p><b>  Total: </b> ....................................................{{depenseTotal}} Ariary</p>
            <p><b>  Solde restant: </b> .......................................{{restant}} Ariary</p>
                        <table>
                            <tr class="w3-light-grey">
                                <th>Date</th>
                                <th>Solde</th>
                                <th>Matricule du détenteur</th>
                            </tr>
                            {% for credit in credit %}
                                <tr>
                                    <td>{{ credit.dateRenouvellement |date('Y-m-d') }}</td>
                                    <td>{{ credit.creditInitial}} </td>
                                    <td>{{ credit.matricule}} </td>
                                </tr>
                            {% endfor %}
                        </table>
            <p><b>  Total solde: </b> ....................................................{{soldetot}} Ariary</p>
        
                            </div>

        {# Vérifiez si l'utilisateur a le rôle MISSIONNAIRE #}
        {% elseif is_granted('ROLE_MISSIONNAIRE') %}

            {# contenue pour le missionnaire#}
            <div class="w3-row">

                {# bare de navigation pour le missionnaire #}
                <div class="w3-col w3-yellow" id="nav">
                    <h1 class="w3-opacity h5 mb-3 font-weight-normal">
                        <i class="fa fa-user-circle w3-opacity"></i>
                        {{ app.user.userIdentifier }}
                    </h1>
                    <a href="{{path('app_home_page')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fa fa-home w3-opacity"></i> 
                            Acceuil
                        </button>
                    </a>
                    <a href="{{path('user_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fa fa-users w3-opacity"></i> 
                            Missionnaire
                        </button>
                    </a>
                    <a href="{{path('bse_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-briefcase"></i>
                            Mission
                        </button>
                    </a>
                    <a href="{{path('payment_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-dollar-sign"></i> 
                            Payement
                        </button>
                    </a>
                    <a href="{{path('bureau_index')}}">
                        <button class="w3-button w3-block w3-left-align" id="active">
                            <i class="fas fa-building"></i>
                            Agence
                        </button>
                    </a>
                    <a href="{{path('bureau_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-sync"></i>
                            Renouveller credit
                        </button>
                    </a>
                    <a href="{{ path('app_logout') }}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-sign-out-alt"></i>
                            Se deconnecter
                        </button>
                    </a>
                </div>

                <div class="w3-container content-wrapper"></div>
            </div>


        {# Vérifiez si l'utilisateur a le rôle USER #}
        {% elseif is_granted('ROLE_USER') %}

            {# contenue pour l'utilisateur simple #}
            <div class="w3-row">

                {# bare de navigation pour l'utilisateur simple #}
                <div class="w3-col w3-yellow" id="nav">
                    <h1 class="w3-opacity h5 mb-3 font-weight-normal">
                        <i class="fa fa-user-circle w3-opacity"></i>
                        {{ app.user.userIdentifier }}
                    </h1>
                    <a href="{{path('app_home_page')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fa fa-home w3-opacity"></i> 
                            Acceuil
                        </button>
                    </a>
                    <a href="{{path('user_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fa fa-users w3-opacity"></i> 
                            Missionnaire
                        </button>
                    </a>
                    <a href="{{path('bse_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-briefcase"></i>
                            Mission
                        </button>
                    </a>
                    <a href="{{path('payment_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-dollar-sign"></i> 
                            Payement
                        </button>
                    </a>
                    <a href="{{path('bureau_index')}}">
                        <button class="w3-button w3-block w3-left-align" id="active">
                            <i class="fas fa-building"></i>
                            Agence
                        </button>
                    </a>
                    <a href="{{path('credit_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-sync"></i>
                            Renouveller credit
                        </button>
                    </a>
                    <a href="{{ path('app_logout') }}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-sign-out-alt"></i>
                            Se deconnecter
                        </button>
                    </a>
                </div>

                <div class="w3-container content-wrapper"></div>
            </div>

        {% endif %}

    </body>
</html>