
    <style>
    .missionnaire{
        float: right;

    }    </style>

    <body>
{% set depenseOr = 0 %}
            {% for item in facture %}
        <center>
            <h2>
                <u>FACTURE</u>
            </h2>
        </center>
                <p class="num">Facture  00{{ item.id }}</p>
                    <p> Facture de {{ item.titre}}  {{ item.nom | upper }} {{ item.prenom }} </p>
                    <p>Fonction/indice :{{ item.fonction }}</p>
                    <p>Contact: {{ item.email }}</p>
                    <p>Adresse: {{ item.address }}</p>
                
                <div class='missionnaire'>
                <p>Ordre de route créé le {{ item.dateBse|date('d/m/Y') }}</p>
                <p>Payé le {{ item.datePayement_or|date('d/m/Y') }}</p>

                <p>Détenteur de compte numéro {{ item.detenteur }}</p>

                </div >

{% if item.etat == 'Ordre de route avec BST'%}
                <p>BST payé le {{ item.date_payement_bst|date('d/m/Y') }}</p>

                <p>Motif de voyage : {{ item.motif }}</p>
                <p>IM transporteur: {{ item.idTransport }}</p>
                <p>Chauffeur : {{ item.nom_chaufeur | upper }} {{ item.prenom_chafeur  }}</p>
                <p>Téléphone: {{ item.tel_transporteur }}</p>
{% else %}
                <p>Motif de voyage : {{ item.motif }}</p>
{% endif %}
                <p>De se rendre à : {{ item.destination | upper }} - {{ item.lieuDepartMissionnaire| upper }}</p>
                <p>Départ: {{ item.dateDepartMissionnaire |date('d/m/Y') }}</p>
                <p>Durée :{{ item.dureeMission }} jours</p>
                {% set taux = item.tauxJournalier %}
                {% set duree = item.dureeMission %}
                {% set depenseOr = taux*duree %}

                <p><center><u>DECOMPTE</u></center></p>
{% if item.etat == 'Ordre de route avec BST'%}
{% set total = item.depense_bst + depenseOr %}
                <p>Durée du mission .......................................................................................................................{{ duree }} jours</p>
                <p>Taux journalier du missionnaire.................................................................................................{{ taux }} Ariary</p>
                <p>....................................................................................................................................................{{ duree }}*{{ taux }}</p>
                <p>Ordre de Route : ........................................................................................................................{{ depenseOr }} Ariary</p>
                <p>Frais de transport :......................................................................................................................{{ item.depense_bst }} Ariary</p>
                <p>Total : .......................................................................................................................................{{ total }} Ariary</p>
{% else %}  
                <p>Durée du mission ........................................................................................................................{{ duree }} jours</p>
                <p>Taux journalier du missionnaire..................................................................................................{{ taux }} Ariary</p>
                <p>Ordre de Route ............................................................................................................................{{ taux }}*{{ duree }}</p>
                <p>Total............................................................................................................................................. {{ depenseOr }} Ariary</p>
{% endif %}
            {% endfor %}
    </body>