<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Acceuil</title>
        <link rel="stylesheet" href="{{ asset('assets/w3.css')}}">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link href="{{ asset('assets/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
        <script src="{{ asset('assets/bootstrap/bootstrap.bundle.min.js') }}"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        
        <style>
            * {
                box-sizing: border-box;
            }

            body, h1, h2, h3, h4, h5, h6 {
                font-family: "Times New Roman", Times, serif;
            }

            a{
                text-decoration: none;
                color: black;
            }
            .w3-button{
                display: block;
            }

            .container {
                min-height: 350px;
                background: #fff;
                border-radius: 2px;
                overflow: hidden;
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15);
                margin-bottom: 5%;
            }

            /* Refonte du menu de navigation pour mieux utiliser W3.CSS */
            #nav {
                width: 20%;
                height: 100vh;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 999;
                padding-top: 20px;
            }

            #nav a {
                display: block;
                margin: 10px 0;
            }

            /* Mobile Responsiveness */
            @media(max-width: 1050px) {
                #nav {
                    width: 100%;
                    position: relative;
                    height: auto;
                }
            }

            .content-wrapper {
                margin-left: 22%;
                padding: 20px;
            }

            /* Refonte des boutons */
            .w3-button {
                margin-bottom: 10px;
            }
            #nouveau{
                margin-right: 10px;
            }
            #active{
                background: rgba(0, 0, 0, 0.10);
                color: black;
            }
            .detail{
                float: right;
                margin-bottom: 2%;
            }
        </style>
    </head>
    <body>
        {# Vérifiez si l'utilisateur a le rôle ADMIN #}
        {% if is_granted('ROLE_ADMIN') %}

            {# Contenue pour l'administrateur #}
            <div class="w3-row">

                {# bare de navigation pour l'administrateur #}
                <div class="w3-col w3-yellow" id="nav">
                    <h1 class="w3-opacity h5 mb-3 font-weight-normal w3-container-display w3-margin-bottom">
                        <i class="fa  fa-bars w3-opacity w3-margin-top w3-margin-left w3-display-topleft"></i>
                            <span class="w3-margin-top w3-display-topmiddle">Profile</span>
                            <i class="fa fa-user-circle  w3-opacity w3-margin-top w3-margin-right w3-display-topright"  onclick="document.getElementById('renouveller').style.display='block'"></i>
                    </h1>
                    <a href="{{path('app_home_page')}}">
                        <button class="w3-button w3-block w3-left-align" id="active">
                            <i class="fa fa-home w3-opacity"></i> 
                            Acceuil
                        </button>
                    </a>
                    <a href="{{path('user_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fa fa-users w3-opacity"></i> 
                            Missionnaire
                        </button>
                    </a>
                    <a href="{{path('bse_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-briefcase"></i>
                            Mission
                        </button>
                    </a>
                    <a href="{{path('payment_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-dollar-sign"></i> 
                            Payement
                        </button>
                    </a>
                    <a href="{{path('bureau_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-building"></i>
                            Agence
                        </button>
                    </a>
                    <a href="{{path('credit_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-sync"></i>
                            Renouveller credit
                        </button>
                    </a>
                    <a href="{{ path('app_logout') }}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-sign-out-alt"></i>
                            Se deconnecter
                        </button>
                    </a>
                </div>

                {# corp pour l'administrateur #}
                <div class="w3-container content-wrapper">

                    {# entete du corp pour l'administrateur #}
                    <div class="w3-col">
                        <div class="w3-cell-row">
                            {# Renouvelment #}
                            <div class="w3-container w3-cell w3-mobile">
                                <div class="w3-panel w3-card w3-grey w3-border w3-round-large w3-opacity">
                                    <center>Renouvelment</center>
                                    {% set somme_credit = 0%}
                                        <label>Date : {#{ date_renouvellement | date('d/m/Y')}#}</label></br>
                                        <label>Récent : {{credit_renouveler}} Ar</label></br>
                                        <label>Solde :  Ar</label></br>
                                        <div>
                                            <i class="detail fa fa-eye w3-opacity w3-btn"   onclick="document.getElementById('renouveller').style.display='block'">Voir</i>
                                        </div>
                                </div>
                            </div>

                            {# Etat crédit #}
                            <div class="w3-container w3-cell w3-mobile">
                                <div class="w3-panel w3-card w3-grey w3-border w3-round-large w3-opacity">
                                    <center>Etat crédit</center>
                                    {% set somme_depense = 0%}
                                        <label>Du: {{date_6moi_1 | date('d/m/Y')}} au {{date_6moi_2 | date('d/m/Y')}}</label></br>
                                        {% set somme_depense = depense_or_6mois + somme_depense_bst_6mois%}
                                        <label>Dépense : {{somme_depense}} Ar</label></br>
                                        <label>Restant : {{credit_restant}} Ar</label></br>
                                        <div>
                                            <i class="detail fa fa-eye w3-opacity w3-btn"   onclick="document.getElementById('creditRestant').style.display='block'">Voir</i>
                                        </div>
                                </div>
                            </div>

                            {# Depense #}
                            <div class="w3-container w3-cell w3-mobile">
                                <div class="w3-panel w3-card w3-grey w3-border w3-round-large w3-opacity">
                                    <center>Dépense</center>
                                    {% set somme = 0%}
                                    {% for user in user %}
                                        {% set somme = somme +1 %}
                                    {% endfor %}
                                        <label>Du: {{date_1moi_1 | date('d/m/Y')}} au {{date_1moi_2 | date('d/m/Y')}}</label></br>
                                        <label>OR : {{depense_or_1mois}} Ar</label></br>
                                        <label>BST : {{somme_depense_bst_1mois }} Ar</label></br>
                                        <div>
                                            <i class="detail fa fa-eye w3-opacity w3-btn"   onclick="document.getElementById('depense').style.display='block'">Voir</i>
                                        </div>
                                </div>
                            </div>

                            {# utilisateur #}
                            <div class="w3-container w3-cell w3-mobile">
                                <div class="w3-panel w3-card w3-grey w3-border w3-round-large w3-opacity">
                                    <center>Utilisateur</center>
                                    {% set somme_f = 0 %}
                                    {% set somme_h = 0 %}
                                    {% for user in user %}
                                        {% if user.sexe == 'Femme'%}
                                            {% set somme_f = somme_f +1 %}
                                        {% elseif user.sexe == 'homme' %}
                                            {% set somme_h = somme_h +1 %}
                                        {% endif %}
                                    {% endfor %}
                                        {% set somme_u = somme_f + somme_h %}
                                        <label>Femme : {{somme_f}}</label></br>
                                        <label>Homme : {{somme_h}}</label></br>
                                        <label>Total : {{somme_u}} personnes</label></br>
                                        <div>
                                            <i class="detail fa fa-eye w3-opacity w3-btn" onclick="document.getElementById('utilisateur').style.display='block'">Voir</i>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# contenue du corp pour l'administrateur #}
                    <div class="w3-col">
                        <div class="w3-cell-row">
                            <div class="w3-container w3-cell w3-mobile">
                                <div class="w3-panel w3-card  w3-border w3-round-large">
                                    <center>Dépense</center>
                                    <canvas id="myChartBse" width="400" height="180">BSE</canvas>
                                </div>
                            </div>

                            <div class="w3-container w3-cell w3-mobile">
                                <div class="w3-panel w3-card  w3-border w3-round-large">
                                    <center>
                                        <label>Légende</label></br>
                                        <button class="w3-btn w3-red"></button><label>  BSE  -10% </label></br>
                                        <button class="w3-btn w3-pink"></button><label>  BSE  -25% </label></br>
                                        <button class="w3-btn w3-indigo"></button><label>  BSE  -50% </label></br>
                                        <button class="w3-btn w3-green"></button><label>  BSE  -75% </label></br>
                                        <button class="w3-btn w3-yellow"></button><label>  BSE +75% </label></br></br>
                                        <button class="w3-btn w3-yellow w3-margin-bottom">Imprimer</button></br>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# modal de l'entete pour l'administrateur #}
                    <div class="Modal">
                        {# Renouvelment modal#}
                        <div id="renouveller" class="w3-modal">
                            <div  class="w3-modal-content w3-animate-zoom">
                                <div class=" w3-display-topmiddle w3-red w3-padding">
                                    <span onclick="document.getElementById('renouveller').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                    <center>Renouvellement</center></br>
                                        {% set somme_credit = 0%}
                                        <label>Date : {#{ date_renouvellement | date('d/m/Y')}#}</label></br>
                                        <label>Récent : {{credit_renouveler}} Ar</label></br>
                                        <label>Solde :  Ar</label></br>
                                </div>
                            </div>
                        </div>

                        {# Etat credit modal #}
                        <div id="creditRestant" class="w3-modal">
                            <div  class="w3-modal-content w3-animate-zoom">
                                <div class=" w3-display-topmiddle w3-red w3-padding">
                                    <span onclick="document.getElementById('creditRestant').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                    <center>Etat crédit</center></br>
                                        {% set somme_depense = 0%}
                                        <label>Du: {{date_6moi_1 | date('d/m/Y')}} au {{date_6moi_2 | date('d/m/Y')}}</label></br>
                                        {% set somme_depense = depense_or_6mois + somme_depense_bst_6mois%}
                                        <label>Dépense : {{somme_depense}} Ar</label></br>
                                        <label>Restant : {{credit_restant}} Ar</label></br>
                                </div>
                            </div>
                        </div>

                        {# Dépense modal #}
                        <div id="depense" class="w3-modal">
                            <div  class="w3-modal-content w3-animate-zoom">
                                <div class=" w3-display-topmiddle w3-red w3-padding">
                                    <span onclick="document.getElementById('depense').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                    <center>Détail dépense</center></br>
                                        {% set somme_credit = 0%}
                                        <label>Date : {#{ date_renouvellement | date('d/m/Y')}#}</label></br>
                                        <label>Récent : {{credit_renouveler}} Ar</label></br>
                                        <label>Solde :  Ar</label></br>
                                </div>
                            </div>
                        </div>

                        {# Utilisateur modal #}
                        <div id="utilisateur" class="w3-modal">
                            <div  class="w3-modal-content w3-animate-zoom">
                                <div class=" w3-display-topmiddle w3-red w3-padding">
                                    <span onclick="document.getElementById('utilisateur').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                    <center>Utilisateurs</center></br>
                                        {% set somme_credit = 0%}
                                        <label>Date : {#{ date_renouvellement | date('d/m/Y')}#}</label></br>
                                        <label>Récent : {{credit_renouveler}} Ar</label></br>
                                        <label>Solde :  Ar</label></br>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# modal profile pour l'administrateur #}
                    <div class="Modal">
                        {# Renouvelment modal#}
                        <div id="profile" class="w3-modal">
                            <div  class="w3-modal-content w3-animate-zoom">
                                <div class=" w3-display-topmiddle w3-red w3-padding">
                                    <span onclick="document.getElementById('profile').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                    <center>Profile</center></br>
                                        {% set somme_credit = 0%}
                                        <label>Date : {#{ date_renouvellement | date('d/m/Y')}#}</label></br>
                                        <label>Récent : {{credit_renouveler}} Ar</label></br>
                                        <label>Solde :  Ar</label></br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {# Vérifiez si l'utilisateur a le rôle MISSIONNAIRE #}
        {% elseif is_granted('ROLE_MISSIONNAIRE') %}

            {# contenue pour le missionnaire#}
            <div class="w3-row">

                {# bare de navigation pour le missionnaire #}
                <div class="w3-col w3-yellow" id="nav">
                    <h1 class="w3-opacity h5 mb-3 font-weight-normal">
                        <i class="fa fa-user-circle w3-opacity"></i>
                        {{ app.user.userIdentifier }}
                    </h1>
                    <a href="{{path('app_home_page')}}">
                        <button class="w3-button w3-block w3-left-align" id="active">
                            <i class="fa fa-home w3-opacity"></i> 
                            Acceuil
                        </button>
                    </a>
                    <a href="{{path('user_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fa fa-users w3-opacity"></i> 
                            Missionnaire
                        </button>
                    </a>
                    <a href="{{path('bse_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-briefcase"></i>
                            Mission
                        </button>
                    </a>
                    <a href="{{path('payment_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-dollar-sign"></i> 
                            Payement
                        </button>
                    </a>
                    <a href="{{path('bureau_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-building"></i>
                            Agence
                        </button>
                    </a>
                    <a href="{{path('credit_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-sync"></i>
                            Renouveller credit
                        </button>
                    </a>
                    <a href="{{ path('app_logout') }}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-sign-out-alt"></i>
                            Se deconnecter
                        </button>
                    </a>
                </div>

                <div class="w3-container content-wrapper"></div>
            </div>


        {# Vérifiez si l'utilisateur a le rôle USER #}
        {% elseif is_granted('ROLE_USER') %}

            {# contenue pour l'utilisateur simple #}
            <div class="w3-row">

                {# bare de navigation pour l'utilisateur simple #}
                <div class="w3-col w3-yellow" id="nav">
                    <h1 class="w3-opacity h5 mb-3 font-weight-normal">
                        <i class="fa fa-user-circle w3-opacity"></i>
                        {{ app.user.userIdentifier }}
                    </h1>
                    <a href="{{path('app_home_page')}}">
                        <button class="w3-button w3-block w3-left-align" id="active">
                            <i class="fa fa-home w3-opacity"></i> 
                            Acceuil
                        </button>
                    </a>
                    <a href="{{path('user_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fa fa-users w3-opacity"></i> 
                            Missionnaire
                        </button>
                    </a>
                    <a href="{{path('bse_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-briefcase"></i>
                            Mission
                        </button>
                    </a>
                    <a href="{{path('payment_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-dollar-sign"></i> 
                            Payement
                        </button>
                    </a>
                    <a href="{{path('bureau_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-building"></i>
                            Agence
                        </button>
                    </a>
                    <a href="{{path('credit_index')}}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-sync"></i>
                            Renouveller credit
                        </button>
                    </a>
                    <a href="{{ path('app_logout') }}">
                        <button class="w3-button w3-block w3-left-align">
                            <i class="fas fa-sign-out-alt"></i>
                            Se deconnecter
                        </button>
                    </a>
                </div>

                <div class="w3-container content-wrapper"></div>
            </div>

        {% endif %}

        {# Javascript pour le statistique #}
        <script>
            // Fonction générique pour créer un graphique
            // Fonction pour générer une couleur en fonction de la valeur
            function getColorForValue(value) {
                if ( value < 1){
                    return '(255, 0, 0)';//red
                } else if (value < 2) {
                    return 'rgb(0, 255, 0)';  // Rouge pour les valeurs faibles
                } else if (value < 3) {
                    return 'RGB(255, 255, 0)';  // Orange pour les valeurs moyennes
                } else if (value < 7.5) {
                    return 'RGB(75, 0, 130)';  // Bleu pour les valeurs relativement élevées
                } else {
                    return 'RGB(255, 255, 0)';  // yellow
                }
            }

            // Fonction générique pour créer un graphique avec des couleurs basées sur les valeurs des barres
            function createChart(canvasId, chartData, chartLabel) {
                const ctx = document.getElementById(canvasId).getContext('2d');

                // Générer les couleurs en fonction des valeurs
                const barColors = chartData.values.map(value => getColorForValue(value));

                new Chart(ctx, {
                    type: 'bar',  // Type de graphique : barres
                    data: {
                        labels: chartData.labels,  // Labels des barres
                        datasets: [{
                            label: chartLabel,  // Légende du graphique
                            data: chartData.values,  // Valeurs des barres
                            backgroundColor: barColors,  // Appliquer les couleurs dynamiques aux barres
                            borderColor: barColors,  // Couleur de la bordure des barres
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true  // Commence l'axe Y à zéro
                            }
                        }
                    }
                });
            }

            // Les données des graphiques (en provenance de Symfony)
            const dataBse = {{ dataBse|raw }};

            // Créer les graphiques avec des couleurs dynamiques basées sur les valeurs des barres
            createChart('myChartBse', dataBse, 'BSE - Valeurs');
           // createChart('myChartBst', dataBst, 'BST - Valeurs');
            //createChart('myChartOrdreRoute', dataOrdreRoute, 'Ordre Route - Valeurs');

            //createChart('myChartPayment', dataPayment, 'Payment - Valeurs');
        </script>
    </body>
</html>
