{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employe</h1>
    <a href="{{ path('employe_new') }}">Create new employe</a>
    <ul>
        {% for employe in employe %}
            <li>
                <a href="{{ path('employe_show', {id: employe.id}) }}">{{ employe.nom }}</a>
                <span>{{ employe.matricule }}</span>
                <span>{{ employe.nom }}</span>
                <span>{{ employe.prenom }}</span>
                <span>{{ employe.sexe }}</span>
                <span>{{ employe.fonction }}</span>
                <span>{{ employe.situationFamiliale }}</span>
                <span>{{ employe.cin }}</span>
                <span>{{ employe.dateCin|date('Y-m-d') }}</span>
                <span>{{ employe.tauxJournalier }}</span>
                <span>{{ employe.titre }}</span>
                <a href="{{ path('employe_edit', {id: employe.id}) }}">Edit</a>
                <a href="{{ path('employe_delete', {id: employe.id}) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
<script>
    const Searchs = {{ employeSearch|raw }}; // Injecter les données en JSON
    console.log(Searchs);  // Vérifier le contenu de Searchs

    const filtreSearch = Searchs.filter(obj => obj.matricule > 2);
    console.log(filtreSearch); // Vérifier le filtre
</script>

{% endblock %}
